DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Optional
SCHEDULE_CRON=0 10 * * *
TIMEZONE=Asia/Seoul
MIN_DISCOUNT=10
MAX_DEALS=10
STORE_IDS=1,11,13,25
USD_TO_KRW_FALLBACK=1370
REGION=KR
REGION_STRICT=true
STEAM_LANGUAGE=korean
